/.quarto/
_site/
.Rproj.user


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# license files should not be committed to this repository
*.lic

# Test output directories
**/logs/
**/reports/

# Storage for local test artifacts
integration/bundles/

# UV files and directories
.uv/
uv.lock

# Package info
*.egg-info/
.installed.cfg
