// index.scss

// Posit Brand
$blue: #447099; // Posit Blue
$red: #d44000; // Posit Red
$orange: #ee6331; // Posit Orange
$yellow: #e7b10a; // Posit Yellow
$green: #72994e; // Posit Green
$teal: #419599; // Posit Teal
$gray: #404041; // Posit Gray

// Modified Colors
$indigo: #3d348b; // Deep Indigo (Adjusted)
$purple: #9a4665; // Posit Burgundy (Replaces Bootstrap Purple)
$pink: #d96b94; // Muted Pink (Adjusted)
$cyan: #53b0ae; // Soft Cyan (Adjusted)

:root {
  --bs-blue: #447099;
  --bs-red: #d44000;
  --bs-orange: #ee6331;
  --bs-yellow: #e7b10a;
  --bs-green: #72994e;
  --bs-teal: #419599;
  --bs-gray: #404041;

  --bs-indigo: #3d348b;
  --bs-purple: #9a4665;
  --bs-pink: #d96b94;
  --bs-cyan: #53b0ae;
}

@import "bootstrap/scss/bootstrap";
